<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>detail éleve {{uneleve.prenom.toUpperCase()}} {{uneleve.nom.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>Nom de l'éleve {{uneleve.nom}}</ion-label>
<ion-label>prenom de l'éleve {{uneleve.prenom}}</ion-label>
<ion-label>date_naissance de l'éleve {{uneleve.date_naissance}}</ion-label>
<ion-label>age de l'éleve {{uneleve.age}}</ion-label>
<ion-label>classe de l'éleve {{uneleve.classe}}</ion-label>
<ion-label>description de l'éleve {{uneleve.description}}</ion-label>

</ion-content>
